<?xml version='1.0' encoding='utf-8'?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="com.mcal.webstudio">
	
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
		
	<application
		android:requestLegacyExternalStorage="true"
		android:allowBackup="true"
		android:fullBackupContent="true"
		android:icon="@drawable/ic_app_v2"
		android:label="@string/app_name"
		android:theme="@style/AppTheme"
		android:supportsRtl="true"
		android:resizeableActivity="false"
		tools:targetApi="q">
		<activity
			android:name="com.mcal.webstudio.MainActivity"
			android:label="@string/app_name"
			android:windowSoftInputMode="stateHidden"
			android:configChanges="orientation|screenSize|locale">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
			android:name="com.mcal.webstudio.EditorActivity"
			android:label="@string/app_name"
			android:windowSoftInputMode="stateHidden"
			android:configChanges="orientation|screenSize|locale">
		</activity>
		<activity
			android:name="com.mcal.webstudio.SettingsActivity"
			android:label="@string/app_name"
			android:windowSoftInputMode="stateHidden"
			android:configChanges="orientation|screenSize|locale">
		</activity>
		<activity
			android:name="com.mcal.webstudio.RunActivity"
			android:label="@string/app_name"
			android:exported="false"
			android:windowSoftInputMode="stateHidden"
			android:configChanges="orientation|screenSize|locale">
		</activity>
		<activity
			android:name="com.mcal.webstudio.BrowserActivity"
			android:label="@string/app_name"
			android:exported="false"
			android:windowSoftInputMode="stateHidden"
			android:configChanges="orientation|screenSize|locale">
		</activity>
	</application>
</manifest>
